@import "tailwindcss";

@theme {
  --color-gov-50: #F8FAFC;
  --color-gov-100: #dbeafe;
  --color-gov-200: #bfdbfe;
  --color-gov-300: #93c5fd;
  --color-gov-400: #60a5fa;
  --color-gov-500: #3b82f6;
  --color-gov-600: #2563eb;
  --color-gov-700: #1D4ED8;
  --color-gov-800: #1E3A8A;
  --color-gov-900: #0F172A;
  
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

/* Optional: Add this to make sure the background isn't white by default */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
  -webkit-tap-highlight-color: transparent;
}

/* Custom scrollbar hide for cleaner mobile look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}